:root {
  --main-heading-color: #212121;
  --background-color: #2f303a;
  --text-color: #757575;
  --focus-color: #2196f3;
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  --main-current-color: #fff;
  --main-adress-color:  rgba(179, 179, 179, 0.6);
}
body {
  font-family: var(--font-family);
}
h2 {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-heading-color);
}
h4{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--main-heading-color);
}
.container{
  width: 1200px;
  padding: 0 15px;
  outline: 2px dashed red;
  margin: 0 auto;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 370px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.flex {
  display: flex;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-list {
  align-items: center;
  gap: 50px;
}
.header-nav-link {
  margin-right: 93px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #000;
  text-decoration: none;
  font-family: var(--second-family);
}
.logo {
  color: #2196f3;
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
} 
a {
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--main-heading-color);
}
.header-list-item a:hover,
.header-list-item a:focus{
  color: var(--focus-color);
}
.header-contacts{
  margin-left: auto;
  align-items: center;
  gap: 50px;
}
.header-contacts-items a:hover,
.header-contacts-items a:focus{
  color: var(--focus-color);
}
.section-title{
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background-image: 
  linear-gradient(
    rgba(47, 48, 58, 0.8) 0%, 
    rgba(130, 132, 160, 0.8) 100%
  ), 
  url(../img/background.jpg);
background-repeat: no-repeat;
background-size: cover;

}
.title {
  margin-bottom: 30px;

  color: var(--main-current-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1,36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}
.button {
  padding: 10px 32px;
  border: 0;

  border-radius: 4px;
  min-width: 216px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1,87;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #2196f3;
}
.features{
  padding-top: 94px;
}
.main-list{
  display: flex;
  gap: 30px;
}
.main-list::before {
  content: "";
  background-color: ;
}
.main-list-title{
  margin-bottom: 10px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

}
.main-list-paragraph {
  width: 270px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
}
h3 {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-heading-color);

}
.main-list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.list-working {
  display: flex;
  justify-content:space-between;
  flex-basis: calc((100% - 60px) / 2);
}
.work-title{
  padding-bottom: 50px;
}
.team-section{
  padding-bottom: 94px;
  padding-top: 94px;
  background-color: #F5F4FA;
}
.first-person,
.second-person,
.third-person,
.fourth-person {
  background-color: white;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0 0 4px 4px;
  display: flex;
}
.section-list{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-basis: calc((100% - 90px) / 4);
}
.section-list-item {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #757575;
}
.team-section-title {
  margin-top: 30px;
}
.team-section-paragraph {
  margin-top: 10px;
}
.footer-adress{
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
}
footer{
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--background-color);
}
.header-second-link{
  display: inline-block;
  padding-bottom: 20px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #fff;
  text-decoration: none;
  font-family: var(--second-family);
}
footer a{ 
  font-weight: 400;
  font-size: 14px;
  line-height: 1,71;
  letter-spacing: 0.03em;
  color: var(--main-adress-color)
}
.buttons-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  gap: 8px;
  
}
.buttons-list-items {
  padding: 6px 22px;
  display: flex;
  border: none;
  background-color: #F5F4FA;
  border-radius: 4px;
  font-family: var(--font-family);
  letter-spacing: 0.03em;
  line-height: 1,62;
  font-size: 16px;
  font-weight: 500;
  gap: 30px;
  column-gap: 30px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}
.buttons-list button:hover{
  background-color: var(--focus-color);
  color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}
.image-list {
  display: flex;
  flex-wrap: wrap;  
  gap: 30px;
} 
.image-list-items{
  display: flex;
}
.image-title-items {
  margin-top: 20px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  flex-basis: calc(100%-180px)/6;
}
.portfolio-info {
  border: 1px solid #eee;
  border-top: none;

}
.image-list-element {
  width: 370px;
}
.image-paragraph {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: #757575;
}