:root {
  --primary-color-1: #212121; 
  --primary-color-2: #757575; 
  --primary-color-3: #FFFFFF; 
  --primary-color-4: #2196F3;
  --primary-color-5: #000000; 
  --primary-color-6: #2F303A;
  --primary-color-7: #FFFFFF;
  --primary-color-8: #ECECEC;
  --primary-color-9: #F5F4FA;
}